.edit-tool-container{
    position: absolute;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    border-radius: 100px;
    background-color: transparent;
    --xr-back:150;
}

.edit-tool-bar{
    height:68px;
    padding:12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top:10px;
    background-color: #808080AA;
    gap:6px;
    transition: width 0.2s ease-in-out;
}

.edit-btn-container{
    user-select: none; /* 标准语法 */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    width:44px;
    height:44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-btn-container:hover{
    background-color: #FFFFFF1A;
}

.edit-disable{
    opacity: 0.5;
}

.edit-btn-selected{
    background-color: #FFFFFF1A;
}

.edit-btn-img{
    pointer-events: none;
    width:24px;
    height:24px;
}

.edit-tool-divider{
    width:2px;
    height:24px;
    background-color: #FFFFFF14;
}

.edit-start-container{
    user-select: none; /* 标准语法 */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    width:117px;
    height:52px;
    border-radius: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:6px;
    color:white;
}

.edit-start-container:hover{
    background-color: #FFFFFF1A;
}

.edit-start-img{
    pointer-events: none;
    width:24px;
}

.edit-start-txt{
    font-size: 19px;
}